<div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Gestión de Países</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <a routerLink="/pais/crear" class="btn btn-primary">
          <i class="bi bi-plus-circle"></i> Crear Nuevo País
        </a>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <!-- Lista de Países -->
        <app-listar [paises]="paises" (edit)="selectPais($event)" (delete)="selectPais($event)"></app-listar>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <!-- Editar País -->
        <app-editar *ngIf="selectedPais" [pais]="selectedPais" (update)="onUpdateList()"></app-editar>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <!-- Eliminar País -->
        <app-eliminar *ngIf="selectedPais" [pais]="selectedPais" (deleted)="onUpdateList()"></app-eliminar>
      </div>
    </div>
  </div>
  