.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-left: 20px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  .form-select {
    width: auto;
    background-color: #343a40;
    color: white;
  }
  
  .form-select:focus {
    box-shadow: none;
    border-color: #495057;
  }
  